body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}


.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.container ul {
  border: 1px solid rgb(170, 170, 170);
  margin: 5px;
  padding: 10px;
  text-align: center;
  list-style: none;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: grey;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: grey;
}

img {
    max-width: 95vw;
    max-height: 95vh;
}

nav {
    text-align: right;
}

header {
    display: flexbox;
    grid-template-columns: auto auto auto auto;
}